%h3
  All my Posts

%ol
  - for post in @posts
    %li= "#{post.user.first_name} - '#{post.title}' (#{link_to 'Show', url(:post, post)} | #{link_to 'Edit', url(:edit_post,  post)})"

= link_to 'New', url(:new_post)